html{font-size:100%;}
/* .gnb{ padding:0.7rem 0;}
.gnb-user{text-align:right;}
.gnb-user a{display:inline-block; color:#999; font-size:0.875rem;}
.gnb-user a.sign{margin-right:1rem;}
.gnb-user a span{margin-right:0.5rem;} */
.header{width:100%; color:#fff; font-size:1rem; position:fixed;
    z-index:99999; font-family: 'Signika', sans-serif;}
/* .dn_bg {background-color:rgba(221,199,240,0.9); color:#000; box-shadow:0 5px 5px rgba(0,0,0,0.4);} */
.top{ margin: auto; padding:10px 0;}
.gnb li{display:inline-block; width:16%; text-align:center; font-size:1rem;}
.gnb li a:hover{text-decoration:none; color:#d91023;}
.gnb_color{background-color:rgba(255,233,210,0.9);color:#010201;}
/*navbar 모서리부분과 margin-bottom 부분제어*/
.navbar{border-radius:0; margin-bottom:0; background-color:transparent;}
.navbar-inverse .navbar-brand{color:#ed8181; font-size:2rem;
                              padding:0.5rem 1.2rem; border-color:none;
} /*부트스트랩 아이콘 색 바꾸기 */
.navbar-collapse{border-color:none;}

.main-banner{width:100%; height:100%;}

.full-banner{width:100%; height:100%;  position:absolute; top:0; left:0; overflow:hidden; z-index:11;}

.main-content{width:40%; font-family:'Signika', sans-serif; color:#fff; position:absolute;
    top:50%; left:50%; transform:translate(-50%,-50%); z-index:22; text-align:center;}

.main-content .pro{padding-bottom:10%; }
.main-content .pro h3.pro_ko{font-family: 'Nanum Brush Script', cursive !important;}
.main-content h3:nth-child(2){font-family: 'Crimson Text', serif !important;}

.main-content h1{font-size:10vw; color:#d91023;}
.main-content .actor p{display:inline-block; color:#fff; font-size:1.3rem; font-weight:400;}
.actor p:first-child{margin-right:10%;}

.audio{position:fixed; z-index:9999; right:1%; bottom:1%; }
.audio p{color:#fff; font-size:1.5rem; cursor:pointer; }


/*section*/
.page{width:100%; height:100%;}
.section{background-color:#567282;}
.videos{text-align:center; padding:3% 0;}
.videos h2{font-size:4rem; color:#d91023;}

.youtubewrap{ width: 70%; margin:auto;}
.youtubewrap iframe{}

/* .youtu_sub{width:60%;padding-top:5%;}
.youtu_sub li{float:left; width:10%; margin-right:2%;}
.youtu_sub li:last-child{margin-right:0;} */


/*************************/
/**synopsis*/
/**************************/
.syno{background-color:#567282; padding:3% 0; height:100%;}
.syno .title-block{text-align:justify;}
.syno h2{font-size:3rem; color:#d91023; padding-bottom:1rem;}
.syno p{color:#f3e8dc; font-family: 'Signika', sans-serif; }


/*******************************/
/**cast**/
/******************************/
.cast{padding:3% 0; width:100%; height:100%;  font-family: 'Signika', sans-serif;}
.cast_star img{max-width:100%; display:block; margin:0 auto 1rem;}
.cast > h2{text-align:center; color:#d91023; font-size:4rem; padding-bottom:2rem;}
.cast_star h3{font-weight:bold; text-align:center; color:#101010;}
.cast_star h4{text-align:center; color:#222;  padding-bottom:0.8rem;}
.cast_star p{color:#f3e8dc;; margin-bottom:2rem; text-align:justify;}
/* .cast .cast-btn{width:30%; padding:0.7rem 0; text-align:center; background-color:#5fc386; display:block; margin:auto; color:#fff;} */

.cast_staff{text-align:center;}
.cast_staff h2{color:#d91023; font-size:4rem; padding-bottom:2rem;}
.cast_staff h4{font-weight:bold; color:rgb(202, 13, 32); text-align:center; padding-bottom:0.3rem;}
.cast_staff h3{text-align:center; color:#101010; }


/*******************/
/**gallery**/
/*******************/
.gallery h2{font-size:4rem; color:#d91023; text-align:center; padding-bottom:2rem;}

#columns{
    column-width:350px;
    column-gap: 15px;
  }

#columns figure{
    display: inline-block;
    background-color:#f3e8dc;
    border:1px solid rgba(0,0,0,0.2);
    margin:0;
    margin-bottom: 15px;
    padding:10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);;
  }
  #columns figure img{
    width:100%;
  }

  /*********************/
  /**music**/
  /**********************/
  .music{padding:3% 0;background-image:url("../img/bigben.jpg"); }
  .music h2{font-size:4rem; color:#d91023; text-align:center; padding-bottom:2rem; }
  .music_box{width:60%; height:30rem; overflow-y:scroll; border-radius: 10px; margin:auto; background-color:rgb(32, 32, 32,0.8); color:#f3e8dc;
             }
  .music_box tr{border-bottom:1px solid #000;}
  .music_box td{ text-align:center;  font-size:1rem; padding:1% 0;}
  .music_box img{width:80%;}
  .music_box .mb_img{width:15%;}
  .music_box .mb_txt{width:60%;}
  .mb_txt span{color:#666; font-size:0.8rem;}
  .music_box .mb_time{width:10%;}
  .music_box .mb_play{width:15%; font-size:0.8rem;}
  .mb_play span{display:block; color:#d91023; font-size:1rem;}
  .mb_play a:hover{color:#d91023; text-decoration:none;}



  .banner{position:relative;}
.banner:before{content:""; display:block; padding-top:45%;/*임의의 높이값*/
               background-image:url("assets/images/header_bg.jpg");
               background-repeat:no-repeat;
               background-size:100%;}
.caption{text-align:center; width:100%; position:absolute; top:50%; -webkit-transform:translateY(-50%);
         -moz-transform:translateY(-50%); -o-transform:translateY(-50%); transform:translateY(-50%);
} /*포지션으로 잡아야 배경이미지도 화면크기 줄어들 때 같이 줄어듬. */

.caption >span{font-size:3rem; color:#5fc386; text-shadow:1px 2px 5px rgba(0,0,0,0.2);}
.caption h3{font-size:2rem; color:#999;}

/*site*/
.site-info{background-color:#ededed;}
.site-info .icon-box{padding:2rem 0;}
.site-info .block{border-right:1px solid #ccc; text-align:center;}
.site-info >div:last-child .block{border-right:0;}
.block-txt{width:70%; margin:auto;}
.block >span{font-size:3rem; color:#999;}
.block h4{font-size:1.23rem;}
.block-txt p{color:#999; margin-bottom:2rem;}
.block-txt .site-btn{width:45%; text-align:center; display:inline-block; background-color:#5fc386; color:#fff;
                     padding:0.7rem 0; border-radius:5px;
}


/*about*/
.about{padding:3rem 0; text-align:center;}
/* .title{font-size:1.75rem; color:#333;} */
.line{width:10%;border-top-width:3px; border-top-color:#666; margin-bottom:4rem;}/*그냥 border-color는*/
.about >div{text-align:left;}
.about >div p{color:#999;}

 .bg{background-position:50% 50%; background-repeat:no-repeat; background-size:cover;}

 /*design*/
.design { background-image: url("assets/images/bg/divider1.jpg");text-align:center; padding:4rem 0;  }
.content hr{width:6%; border-top-color:#fff; margin-bottom:2rem;}
.content h3{color:#fff;}
.content p{color:#fff;}

/*one*/
.one{padding:3rem 0;}
.one h3{text-align:center;}
.one-txt{margin-bottom:4rem;}
.one-txt p{color:#999; margin-bottom:2rem;}
.one-txt .one-btn{width:40%; background-color:#ff7c7c; color:#fff; margin:auto; padding:0.7rem 0; display:block; text-align:center;
                  border-radius:5px;}

.one-img img{max-width:50%; margin:auto; display:block;}

/*design two*/
.design-two{background-image: url("assets/images/bg/divider2.jpg");text-align:center; padding:4rem 0; background-attachment:fixed;}








/*design3*/
.design-three{background-image: url("assets/images/bg/divider3.jpg");text-align:center; padding:4rem 0; background-attachment:fixed;}


/*gallery*/
.gallery{padding:3rem 0;}
.gallery h3{text-align:center;}
.gallery .row div:first-child, .gallery .row div:nth-child(2), .gallery .row div:nth-child(3) {margin-bottom:2rem;}

/*footer*/
.footer{background-image: url("assets/images/bg/divider4.jpg");text-align:center; padding:4rem 0; background-attachment:fixed;}

@media screen and (max-width:992px){.caption h3 span{display:block;}
                                    .block-txt .site-btn{width:65%;} 
                                    .content p span{display:block;}
                                    .one-txt .one-btn{width:25%;}
                                    .cast .row >div:first-child, .cast .row >div:nth-child(2){margin-bottom:3rem;}
                                    .gallery .row div:nth-child(4) {margin-bottom:2rem;}
}

@media screen and (max-width:768px){html{font-size:87.5%;}
    .navbar-inverse .navbar-brand {padding: 0.9rem 1.2rem;}
    .caption >span{font-size:3rem; }
    .caption h3{font-size:1.7rem; }
    .block-txt .site-btn{width:45%;}
    .site-info .block{border-bottom:1px solid #ccc; margin:auto; width:90%; border-right:0;}
    .site-info >div:last-child .block{border-bottom:0; padding:2rem 0;}
    .site-info >div:first-child .block,
    .site-info >div:nth-child(2) .block{padding-bottom:2rem; padding:2rem 0;}
    .site-info .icon-box{padding:0 0;}
    .about >div{width:90%; margin:auto;}
    .one{width:90%; margin:auto;}
   .one-txt .one-btn{width:35%;}
   .cast .row{width:90%; margin:auto;}
   .cast img{max-width:50%;}
   .syno img{max-width:60%; margin:auto;}
   .syno >div{width:90%; margin:auto;}
   .gallery .row{width:90%; margin:auto;}
}
@media screen and (max-width:480px){html{font-size:75%;}.navbar-inverse .navbar-toggle{border-color:transparent;}
                                .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{background-color:transparent;}
                                 .caption >span{font-size:2.5rem; }
                                  .caption h3{font-size:1.4rem; }
                                  .block-txt{width:90%; margin:auto;}
                                  .about >div{width:96%;}
                                  .content p{padding:0 2rem;}
                                  .one-txt .one-btn{width:45%;}
                                  .one-img img{max-width:70%;}
                                  .design-two p span{display:inline;}
                                  .cast .row{width:96%;}
                                  .cast img{max-width:50%;}
                                  .cast .row .xs{width:100%; width:100%; float:none;}
                                  .cast .row >div:nth-child(3){margin-bottom:3rem;}
                                  .syno img{max-width:70%;}
                                  .syno >div{width:96%;}
                                  .design-three p span{display:inline;}
                                  .gallery .row{width:96%;}
                                  .gallery .row div{width:100%; float:none;}
                                  .gallery .row div:nth-child(5){margin-bottom:2rem;}
                                  .footer p span{display:inline;}
}